@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
  font: normal 100%/1.3 Ubuntu, sans-serif;
  font-family: Ubuntu, sans-serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,
p {
  margin: 0 0 1.3rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: #18294f;
}

body {
  margin: 0;
}

header h1 {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  margin-bottom: 0;
  padding: .3em 0 .5em;
  padding-bottom: 0;
}

nav a {
  font-family: Ubuntu, sans-serif;
  color: #6c8fe0;
  text-decoration: none;
  white-space: nowrap;
}

nav ul {
  font-size: 1.125rem;
  padding-left: 0;
  list-style-type: none;
}

li {
  padding: .5em .75em;
}

nav a:hover {
  color: #fff;
  background-color: #6c8fe0;
}

li:hover {
  background-color: #6c8fe0;
}

nav {
  width: 100%;
}

@media only screen and (min-width: 25em) {

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  nav li {
    width: 25%;
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  header {
    flex-wrap: nowrap;
  }

  h1 {
    margin-left: .9rem;
    width: 50%;
    margin-bottom: .9rem;
  }

  nav li {
    padding-top: 1.5rem;
    margin: 0;
    justify-content: space-around;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
